<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="../index.css" rel="stylesheet" >
    <style>
      button {
        border-color: #FFA479!important;
        color: #1a0b04 !important;
      }
      button:hover {
        background-color: #FFA479!important;
      }
      .primary {
        color: #FFA479!important;
      }

    </style>
</head>
<body style="width:100%!important; background-color: #FFA479;" >
    
<div class="container py-3" style="width:100%!important;">
  <header class="sticky-top" >
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom bg-dark p-2 px-4" >
      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="fs-4 text-light">{{site_name}}</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto ">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none text-light" href="/">Products</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none text-light" href="/receipt">Receipt</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none text-light" href="#">Setting</a>
        <a class="py-2 link-body-emphasis text-decoration-none text-light" href="#">Reports</a>
      </nav>
    </div>
  </header>

  

  <div class="row">
  <div class="col-9">


    
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Products</h1>

      <div class="d-flex justify-content-center">
        <input type="text" class="form-control" style="max-width: 400px;" placeholder="search prouducts...">
      </div>

    </div>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"> 7PCs Bucket Fried Chicken </h4>
          </div>
          <div class="card-body">
            <img src="https://queen.jollibee.com.ph/2022/05/6-pc-Chickenjoy-Solo.webp" alt="" class="img-fluid">
            <h1 class="card-title pricing-card-title">899</h1>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Add</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"> 7PCs Bucket Fried Chicken </h4>
          </div>
          <div class="card-body">
            <img src="https://queen.jollibee.com.ph/2022/05/6-pc-Chickenjoy-Solo.webp" alt="" class="img-fluid">
            <h1 class="card-title pricing-card-title">899</h1>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Add</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"> 7PCs Bucket Fried Chicken </h4>
          </div>
          <div class="card-body">
            <img src="https://queen.jollibee.com.ph/2022/05/6-pc-Chickenjoy-Solo.webp" alt="" class="img-fluid">
            <h1 class="card-title pricing-card-title">899</h1>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Add</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"> 7PCs Bucket Fried Chicken </h4>
          </div>
          <div class="card-body">
            <img src="https://queen.jollibee.com.ph/2022/05/6-pc-Chickenjoy-Solo.webp" alt="" class="img-fluid">
            <h1 class="card-title pricing-card-title">899</h1>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Add</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"> 7PCs Bucket Fried Chicken </h4>
          </div>
          <div class="card-body">
            <img src="https://queen.jollibee.com.ph/2022/05/6-pc-Chickenjoy-Solo.webp" alt="" class="img-fluid">
            <h1 class="card-title pricing-card-title">899</h1>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Add</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"> 7PCs Bucket Fried Chicken </h4>
          </div>
          <div class="card-body">
            <img src="https://queen.jollibee.com.ph/2022/05/6-pc-Chickenjoy-Solo.webp" alt="" class="img-fluid">
            <h1 class="card-title pricing-card-title">899</h1>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary ">Add</button>
          </div>
        </div>
      </div>
      


  </main>

  </div>
</div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-body-secondary">&copy; 2017–2023</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>

</body>
</html>